.moviePlayer {
  width: 100%;
  height: 50vw;
}
.playerControlPanel {
  display: flex;
  flex-direction: column;
}
.playerButtonContainer {
  display: flex;
  gap: 10px;
}
.playerControlPanel h1 {
  font-size: 20px;
}
.playerControlPanel {
  display: flex;
  gap: 10px;
}
.buttonPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  user-select: none;
  cursor: pointer;
  background-color: #ff9800;
  border-radius: 10px;
  font-size: 20px;
}

.movie-details-container {
  display: flex; /* Используем flexbox для размещения элементов в строку */
  gap: 20px; /* Добавляем отступ между изображением и текстом */
  align-items: flex-start; /* Выравниваем элементы по верхнему краю */
}

.movie-poster {
  width: 300px; /* Фиксированная ширина изображения */
  height: auto; /* Сохраняем пропорции изображения */
  border-radius: 8px; /* Скруглённые углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
}

.movie-info {
  flex: 1; /* Текст занимает оставшееся пространство */
  color: #f4f4f4; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  line-height: 1.6; /* Межстрочный интервал */
}

.movie-info h1 {
  font-size: 24px; /* Увеличенный размер заголовка */
  margin-bottom: 16px; /* Отступ снизу */
  color: #ff9800; /* Цвет заголовка */
}

.movie-info p {
  margin: 8px 0; /* Отступы между абзацами */
}

@media (max-width: 768px) {
  .movie-details-container {
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Выравнивание по центру */
  }

  .movie-poster {
    width: 100%; /* Изображение занимает всю ширину */
    max-width: 300px; /* Максимальная ширина */
  }

  .movie-info {
    text-align: center; /* Текст выравнивается по центру */
  }
}
