.rating-component {
  display: flex;
  gap: 10px; /* Расстояние между звёздами */
}





.rating-component button:hover,
.rating-component button.active {
  color: #ff9800;
}

.user-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}



.rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-component button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: gray;
  transition: color 0.3s ease;
}